{# app/Resources/views/default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Welcome to NeoTrack</h1>

        <p>
            The idea here is that this app will interface with a
            Neo4j graph database that contains information about
            our systems and hardware.
        </p>
    </div>
{% endblock %}
