{# app/Resources/views/default/hello.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid theme-showcase">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h1>Hi {{ name }}! Welcome to Symfony!</h1>
            </div>
        </div>
    </div>
{% endblock %}
